@import "./colors.scss";


*, *:before, *:after{
  box-sizing: border-box;
}
body{
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
}
html {
  font-size: 10px;
}
.main{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  min-height: 600px;
  background: url("../images/fon1.jpeg") no-repeat center;
  background-size: cover;
  position: relative;

}
.main-overlay{
  background-image: linear-gradient(150deg, rgb(136,211,206)0%, rgb(110,69,226)100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;


}
.header{
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 15px 0;
}

.main .logo img{
  height: 50px;
}
.menu {
  width: 60%;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.menu-link {
  color: #ffffff;
  text-decoration: none;
}
.get-started-btn {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 100px;
  margin-left: 40px;
  text-transform: uppercase;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  text-align: center;
}
.main-text h1 {
  margin: 0.5rem;
  font-size: 80px;
  line-height: 1.5em;
}
.main-text span {
  display: inline-block;
}
.main-text span::after {
  content: " ";
  width: 20px;
  height: 1px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.main-text span::before {
  content: " ";
  width: 20px;
  height: 1px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.main-arrow {
  position: relative;
  z-index: 2;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
}
.arrow-down {
  width: 20px;
  height: 20px;
  margin: 20px;
}
.table {
  background-color: #f9fafc;
  padding: 10rem;
}
.table-header {
  text-align: center;
  margin-bottom: 5rem;

  span {
    text-transform: uppercase;
    font-size: 2rem;
    color: #9fa4af;

    &:before {
      content: " ";
      width: 20px;
      height: 1px;
      background-color: $blue;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;

    }

    &:after {
      content: " ";
      width: 20px;
      height: 1px;
      background-color: $blue;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;

    }
  }

  h2 {
    color: #4f4f6f;
    font-weight: 900;
    line-height: 2;
    font-size: 6rem;
  }

  p {
    font-size: 1.8rem;
    display: inline-block;
    width: 40rem;
    line-height: 1.4;
    color: #9fa4af;
  }
}

.price-tags {
  display: flex;
  justify-content: center;
  margin-right: -30px;
}
.price-tag {
  color: #9fa4af;
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 425px;
  align-items: center;
  transition: 0.2s;
  margin-right: 30px ;
}
.price-tag:hover {
  cursor: pointer;
  box-shadow: 0 0 60px 10px rgba(204,204,223,.71);

}
.price-tag span {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin:1rem auto 0.5rem;
  font-weight: 500;
}

.price-tags .price-tag img.users {
  height: 100%;
  width: 100%;
}
.price-tag h4 {
  color: #4f4f6f;
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem;
}
.price-tag h4 sup {
  font-size: 1.8rem;
  vertical-align: super;
  font-weight: 500;
  margin-right: 0.5rem;
}
.price-tag h4 sub {
  font-size: 1.8rem;
  vertical-align: sub;
  font-weight: 500;
}

.price-tags .price-tag .icon-wrapper {
  border-radius: 50%;
  border: 2px solid #6400F0;
  width: 80px;
  height: 80px;
  padding: 10px;
}
.price-tag p {
  font-size: 1.4em;
  line-height: 1.7em;
  text-align: center;
  margin-bottom: 15px;
}
.price-btn {
  background-color: #ffffff;
  border: 1px solid #9fa4af;
  color: #9fa4af;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: 0.3s;

  &:hover {
    background-color: #6e45e2;
    color: #ffffff;
  }

}